.content-page {
  background-color: whitesmoke;
  height: 100vh;
  /* width: 75vw; */
  overflow-y: scroll;
  transition: all 0.4s ease;
}

.content-page-full {
  /* min-width: 100vw; */
  margin-top: 1vh;
  margin-left: 7vw;
  height: 100vh;
}
.content-page-half {
  min-width: calc(75vw);
  margin-top: 1vh;
  margin-left: 0.5vw;
}
.main-background-color {
  background-color: whitesmoke;
}