body{
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  font-family: "Futura";
  height: 100vh;
  overflow: hidden;
}


span>a{
  color: darkgreen;
  text-decoration: none;
  transition: all 1s ease-in;
}

span>a:hover{
  transform: scale(1.5);
  text-decoration: underline;
}

h1{
  color: darkgreen;
}
