.resume-page-main{
  text-decoration: dotted;
  margin-bottom: 80px;
  margin-left: 40px;

}
.resume-page-main>img {
  width: 65vw;
  transition: all 0.3s ease;
  border-radius: 20px;
  box-shadow: 0 8px 25px gray;
  /* box-shadow: 0 0 20px rgba(0, 255, 80, 0.9); */
    /* border-radius: 10px; */
}

.resume-page-main>h1 {
  text-align: left;
  border-left: 8px solid green;
  padding: 10px;
}