.resume-page-main{
  margin-bottom: 80px;
  margin-left: 40px;
}
.resume-page-main>img {
  width: 65vw;
  transition: all 0.3s ease;
  border-radius: 20px;
  box-shadow: 0 8px 25px gray;
}

.resume-page-main>h1 {
  text-align: left;
  border-left: 8px solid green;
  padding: 10px;
}