.App {
  text-align: center;
  display: flex;
  font-family: "Futura";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.side-bar-color {
  background-color: #57AB65;
}

.side-bar{
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  /* align-items: center; */
  justify-content: center;
  overflow-y: scroll;
}

.side-bar-content{
  margin: 50px;
}

.side-bar-name {
  font-size: 36px;
}

.side-bar-profile {
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gray;
}

.side-bar-link-column {
  margin-top: 20px;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
}

.link-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: whitesmoke;
}

.side-bar-menu{
  display: flex;
  flex-direction: column;
  list-style: none;
  /* width: 100%; */
  padding: 0;
}

.side-bar-menu-elements{
  width: calc(100% - 20px);
  margin-top: 10px;
  font-size: larger;
  padding: 8px;
  border-radius: 10px;
  border-bottom: whitesmoke 2px solid;
  border-right: whitesmoke 2px solid;
  transition: transform 0.2s ease,color 0.2s ease,background-color 0.2s ease;
}
.side-bar-menu-element-text{
  transition: transform 0.2s ease,color 0.2s ease,background-color 0.2s ease;
  text-decoration: none;
  color:whitesmoke
}
.side-bar-menu-element-text:hover{
  color:darkgreen
}

.side-bar-menu-elements:hover{
  transform: scale(1.1);
  color: darkgreen;
  background-color: lightgreen;
}
.side-bar-menu-elements:active{
  background-color: rgb(63, 148, 63);
  color: white;
}

.content-page {
  background-color: whitesmoke;
  height: 100vh;
  width: 80vw;
  overflow-y: scroll;
}

.home-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  /* overflow-y: scroll; */

}

.profile-card{
  height: 45vh;
  background-color: rgb(231, 234, 231);
  display: flex;
  margin-bottom: 2vh;
  font-family: sans-serif;
  justify-content: space-between;
  overflow-y: scroll;
}
.profile-content {
  margin-left: 30px ;
  text-align: left;
}

.profile-content>h1{
  font-size: 52px;
  color: rgb(3, 78, 3);
}
.profile-content>h3{
  font-size: 24px;
  color: #535050;
  font-weight: normal;
}
.profile-content>p{
  color: gray;
  font-size: 14px;
}

.profile-image-pic {
  height: 37vh;
  margin: 10px;
  margin-top: 30px;
  width: auto;
  border-radius: 20px;
}

.resume-button {
  width: calc(50% - 20px);
  margin-top: 10px;
  font-size: larger;
  padding: 8px;
  border-radius: 10px;
  border: none;
  color: white;
  border-bottom: white 2px solid;
  border-right: white 2px solid;
  background-color: #57AB65;
  cursor: pointer;
  transition: font-weight 0.2s ease,transform 0.2s ease,color 0.2s ease,background-color 0.2s ease;
}
.resume-button:hover{
  transform: scale(1.1);
  color: white;
  background-color: #57AB65;
  font-weight: bolder;
  cursor: pointer;
}

.home-page>hr{
  background-color: darkgreen;
}

.what-i-do-card {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

.what-i-do-card>p{
  color: rgb(91, 91, 91);
  font-size: 14px;
}

.wid-title{
  border-left: #57AB65 10px solid;
  padding: 3px;
  padding-left: 20px;
}
.language-main{
  display: flex;
  flex-direction: column;
}

.language-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.language-container-title{
  margin: 10px;
  padding-left: 30px;
  margin-bottom: 20px;
  justify-content: start;
  text-align: start;
  border-left: #57AB65 8px solid;
}

.language-card {
  width: calc(33.333% - 16px); /* 3 cards per row */
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  box-sizing: border-box;
}
.language-logo{
  text-align: left;
}

.language-card-content{
  padding: 5px;
  display: flex;
  font-size: 14px;
  color: #535050;
  text-align: left;
}

.framework-main{
  display: flex;
  flex-direction: column;
}

.framework-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.framework-container-title{
  margin: 10px;
  padding-left: 30px;
  margin-bottom: 20px;
  justify-content: start;
  text-align: start;
  border-left: #57AB65 8px solid;
}

.framework-card {
  width: calc(33.333% - 16px); /* 3 cards per row */
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  box-sizing: border-box;
}
.framework-logo{
  text-align: left;
}

.framework-card-content{
  padding: 5px;
  display: flex;
  font-size: 14px;
  color: #535050;
  text-align: left;
}

.main-background-color {
  background-color: whitesmoke;
}